{% extends 'base.html.twig' %}

{% block title %}Music-Box{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
        <h1>Music-Box</h1>
        <h2> Les meilleurs instruments du monde :D </h2>
        </div>
    </div>
    <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias amet animi asperiores atque blanditiis delectus
        dolorum, earum enim eos explicabo fuga ipsum nulla odit porro tenetur ullam veritatis, voluptates.</p>

        <a href="https://music-box.bruno.hudbert.fr" target=_blank>Ton Lien</a>
    </div>
{% endblock %}
